<!-- <!DOCTYPE html>
<html>
    <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h1> <%= name %> </h1>
  </body>
</html> -->

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME FACEBOOK</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>

  <body>
    <div id="container">
      <p>create post</p>
      <!-- <img src="" alt=""> -->
      <input type="text" placeholder="What's on your mind?">
      <i class="fa fa-file-image-o" aria-hidden="true"> Photo/Video</i>

    </div>




    <!-- project facebook -->


    
    
  </body>

</html>
